.main{
    width: 90vw;
    margin: auto;
    margin-left: -75px;
}

.header{
    font-size: 24px ;
    /* text-decoration: underline; */
    margin: -26px !important;
    margin-top: -18px !important;
}

input{
    padding: 6px 10px !important;
}

label{
    text-align: left;
}

button {
    background-color: #4f46e5 !important;
    color: #fff !important;
}

.section1{
    max-height: 500px;
    overflow-y: scroll;
}

TableHead{
    font-weight: bold;
}